.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container {
  position: relative;
  margin: 20px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  transition: max-height 0.5s ease-in-out;
}

.toolbar button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100%;
}

.toolbar button:hover {
  background-color: #f0f0f0;
}

.toolbar input[type="color"],
.toolbar input[type="range"] {
  margin: 5px 0;
  padding: 5px;
  border: none;
  width: 100%;
}

canvas {
  border: 1px solid black;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .toolbar {
    max-height: 0;
    overflow: hidden;
  }

  .toolbar.open {
    max-height: 300px;
    /* Adjust based on the content's height */
  }
}

/* For screens larger than 768px */
@media (min-width: 769px) {
  .toolbar {
    max-height: none;
  }
}