/* src/App.css */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container {
  position: relative;
  margin: 20px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.toolbar button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100%;
}

.toolbar button:hover {
  background-color: #f0f0f0;
}

.toolbar input[type="color"] {
  margin: 5px 0;
  padding: 5px;
  border: none;
}

.toolbar input[type="range"] {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

canvas {
  border: 1px solid black;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .toolbar {
    display: none;
    flex-direction: column;
  }

  .toolbar.open {
    display: flex;
  }

  .toolbar button {
    margin: 5px;
    padding: 10px;
    width: auto;
  }
}